body {
  background-color: #fff;
}

nav{
  font-family: /* COMBAK:  */;
  background: #000000;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  color: #FFFF00
}
.gallery {
 display: grid;
 grid-gap: 1em;
 grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) {
 .gallery {grid-template-columns: 1fr 1fr;}
}
@media screen and (min-width: 990px) {
 .gallery {grid-template-columns: 1fr 1fr 1fr;}
}
@media screen and (min-width: 1200px) {
 .gallery {grid-template-columns: 1fr 1fr 1fr 1fr;}
}
.card {
 border: 2px solid black;
 padding: 1em;
 border-radius: 6px;
 box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
 background-color: #DEDEDE
}
.card-img {
 border-radius: 6px;
}
{box-sizing:border-box}
.slideshow {
 background-color: var(--bg);
 padding: 1em;
}

.modal {
   display: none;/*-- hidden by default --*/
   position: fixed; /*-- doesn't move on the screen --*/
   z-index: 1100; /*-- sets higher than anything else so modal is in the very front --*/
   left: 0; /*-- positions at zero pixels from the left --*/
   top: 0; /*-- positions at zero pixels from the top --*/
   width: 100%; /*-- fills the space --*/
   height: 100%; /*-- fills the space --*/
   overflow: auto; /*-- handles overflow as normal. --*/
   background-color: rgba(10, 10, 10, .4); /*--slightly transparent--*/
}
.modal-content {
   background-color: var(--bg);
   color: var(--text);
   margin: 1rem auto;
   padding: 1em;
   width: 92%;
   border-radius: 4px;
   animation: fadein .3s ease-in-out; /*-- sets animation properties: name, duration, easing --*/
}
@keyframes fadein {
  from{transform:scale(.1);} /*-- modal grows from very small to full size--*/
}
.close {
   color: var(--text);
   font-size: 2.5em;
   font-weight: bold;
   position: absolute; /*-- always at the top right of the modal --*/
   top: 5px;
   right: 4.25%;
   transition: all .2s ease-in;
   text-shadow: 2px 2px 5px #FAFAFA,
               -2px -2px 5px #FAFAFA,
               2px -2px 5px #FAFAFA,
               -2px 2px 5px #FAFAFA;
}
.close:hover,
.close:focus {
   color: var(--accent);
   text-decoration: none;
   cursor: pointer;
}
.modal-body {
  display: grid;
  grid-template-columns: 1fr; /*-- default modal grid (for mobile screens)--*/
  grid-gap: 2em;
}
.eg-text {
  align-self: center;
  color: #FFF;
}
.eg-text h3 {
  margin-top: 0;
  padding-top: 0;
  color: #FFF;
}
.modal-body img {
  margin-bottom: 1.5em;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1280px) { /*-- better modal display on largest screens --*/
  .modal-body {grid-template-columns: 7fr 5fr;}

}
